/* banner section
================================ */
.banner__section {
    height: 500px;
    position: relative;
    &--rtArt {
        position: absolute;
        right: 0;
        bottom: 0px;
        @include size(150px);
        overflow: hidden;
        .svg-inject {
            @include size($viewportSize);
        }
    }
}